
body {
    margin: 0;
    padding: 0;
    font-family: Fira Sans;
    background-color: #F5F5F5;
}


/* shared styles  */




/* header styles  */

/* nav styles  */

nav {
    margin: 0 auto;
    width: 1280px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    
}

nav ul li {
    list-style: none;
    
}

.bd2{
    font-weight: bold;
    font-size: 32px;
    color: #0E0E0E;
}
.nav-btn{
    font-weight: 600;
    font-size: 18px;
    padding: 15px 30px;
    color: #006A50;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out 0.2s;
}

.nav-btn:hover{
    cursor: pointer;
    background-color: rgb(50, 177, 209);
    color: #212529;
    box-shadow: 5px 4px 10px rgba(245, 5, 5, 0.3);
    transform: scale(1.10);
}

/* banner styles  */

#banner{
   
    display: flex;
    justify-content: center;
   
    gap: 64px;
    width: 1280px;
    height: 560px;
    /* padding: 80px 60px; */
    padding-bottom: 40px;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 24px;
    background-color: #C6E4D6;
}

.banner-details{
    text-align: left;
    width: 622px;
    height: 326px;
    
}

.banner-details h5{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;

}

.banner-details h1{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 56px;
}

.banner-details button{
    font-size: 18px;
    color: #FFFFFF;
    padding: 17px 34px;
    background-color: #006A50;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out 0.2s;
}

.banner-details button:hover {
    cursor: pointer;
    background-color: rgb(226, 234, 236);
    color: #212529;
    box-shadow: 5px 4px 10px rgba(245, 5, 5, 0.3);
    transform: scale(1.10);
}

.memorial-pic{
    
    height: 400px;
    width: 474px;

}


/* pilers section style  */

#pilers{
    width: 1280px;
    margin: 0 auto;
    margin-top: 80px;
}

.piller {
    font-weight: bold;
    font-size: 40px;
    color: rgba(14, 14, 14, 1);
}

.pilers-container{
   display: flex;
   gap: 20px;
}

.pilers-details{
   
    width: 302px;
    height: 200px;
    padding: 24px 24px;
    background-color: #FFFFFF;
    border: 1px solid rgba(14, 14, 14, 0.15);
    text-align: left;
    justify-content: left;
    border-radius: 16px;
    transition: background-color 0.3s ease-in-out 0.2s;
}

.pilers-details:hover {
    cursor: pointer;
    /* background-color: rgb(226, 234, 236); */
    color: #212529;
    box-shadow: 5px 4px 10px rgba(224, 131, 131, 0.3);
    transform: scale(1.10);
}


.piller-title{
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    text-align: left;
}


.piller-img {
    width: 62px;
    height: 62px;
}


.piller-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}


/* visions section styles  */

#vision{
    width: 1280px;
    margin: 0 auto;
    margin-top: 80px;

}

.vision-sec-title{
    font-weight: bold;
    font-size: 40px;
    color: rgba(14, 14, 14, 1);
    text-align: left;
}

.vision-sec-des{
    text-align: left;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.vision-container{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.visions1{
    width: 410px;
    height: 270px;
    padding: 32px ;
    background-color:rgba(84, 144, 245, 0.2);
    border-radius: 16px;
}
.visions2{
    width: 410px;
    height: 270px;
    padding: 32px ;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 16px;
}
.visions3{
    width: 410px;
    height: 270px;
    padding: 32px ;
    background-color: rgba(247, 235, 207, 1);
    border-radius: 16px;
}

.vision-img{
    height: 64px;
    width: 64px;
}

.vision-title{
    font-weight: bold;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    text-align: left;
}

.vision-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    text-align: left;
}

.vision-btn1{
    font-size: 16px;
    padding: 11px 20px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    background-color: rgba(84, 144, 245, 1);
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out 0.2s;
    
}

.vision-btn1:hover {
    cursor:pointer;
    background-color: rgb(226, 234, 236);
    color: #212529;
    box-shadow: 5px 4px 10px rgba(245, 5, 5, 0.3);
    transform: scale(1.10);
}

.vision-btn2{
    font-size: 16px;
    padding: 11px 20px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    background-color: rgba(9, 161, 92, 1);
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out 0.2s;
    
}

.vision-btn2:hover{
    cursor: pointer;
    background-color: rgb(226, 234, 236);
    color: #212529;
    box-shadow: 5px 4px 10px rgba(245, 5, 5, 0.3);
    transform: scale(1.10);
}

.vision-btn3{
    font-size: 16px;
    padding: 11px 20px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    background-color: rgba(255, 194, 57, 1);
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out 0.2s;
}

.vision-btn3:hover{
    cursor: pointer;
    background-color: rgb(226, 234, 236);
    color: #212529;
    box-shadow: 5px 4px 10px rgba(245, 5, 5, 0.3);
    transform: scale(1.10);
}

/* yunus section style  */

#yunus{
    background-image: url('../Images/quote-bg.png');
    background-repeat: no-repeat;
    background-position: top 25px left 25px;
    width: 1280px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 1);
    padding: 40px 24px;
    padding-bottom: 20px;
    border-radius: 16px;
}

.quote{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
}

.name{
    font-weight: 600;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
}

.designation{
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
}


/* opinion styles   */

#opinion {
    width: 1280px;
    margin: 0 auto;
    margin-top: 80px;
}

.opinion-title{
    font-weight: bold;
    font-size: 40px;
    color: rgba(14, 14, 14, 1);
}

.table{
    padding: 32px;
    
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
   
    
}


table thead {
    background-color: rgba(198, 228, 214, 1);
    
}


table,tr,td {
    border: 5px solid rgba(14, 14, 14, 0.15);
    border-collapse: collapse;
}



table thead tr td {
    color: rgba(14, 14, 14, 1);
    font-size: 20px;
    font-weight: 600;
    
}

thead td{
    /* padding: 24px; */
    padding: 0 24px;
}

tbody td{
    /* padding: 36px 24px; */
    padding: 0 24px;
}
td{
    height: 92px;
}

.agree {
    
    width: 200px;
    vertical-align: center;
    text-align: center;
    
}

select {
    width: 152px;
    height: 44px;
    border-radius: 4px;
    background-color:rgba(198, 228, 214, 1);
    /* padding: 24px; */
    /* align-self: center; */
    /* margin-left: 25px; */
}


option{
    font-size: 16px;
    color: rgba(14, 14, 14, 1);
}

.first-column {
    width: 1010px;
}

.sp-container {
    display: flex;
    justify-content: space-between;
}



/* news section styles  */

#news{
    width: 1280px;
    margin: 0 auto;
    margin-top: 80px;
}

.news-container{
    display: flex;
    align-items: center;
    gap:42px;
    padding: 48px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
    margin-top: 24px;
}

.news-head{
    font-weight: bold;
    font-size: 40px;
    color: rgba(14, 14, 14, 1);
    text-align: left;
}

.news-head-des{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
}

.stalite{
    width: 408px;
    height: 306px;
    border-radius: 24px;
}


.news-title{
    font-weight: bold;
    font-size: 32px;
    color: rgba(14, 14, 14, 0.8);
}

.aljazera{
    width: 134px;
    height: 40px;
}

.newsdescription{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.news-btn{
    padding: 13px 26px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 106, 80, 1);
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
}